.navbar {
  background-color: black;
  padding: 24px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;

  button:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
