* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}


.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  padding: 13px;
  border-radius: 50%;
}

.--active-link{
  background-color: rgba(255, 255, 255, 0.1);
}